<h1>Add a new class to the gym</h1>

<form method = "POST" action ="/gym_classes">
  <label for ="gymclass_name">Gym Class Name:</label>
  <input id ="gymclass_name" type="text" name = "gymclass_name" />
  <label for ="description">Description:</label>
  <input id = "description" type="text" name ="description"  />

  <label for ="instructor">Instructor:</label>
  <input id = "instructor" type="text" name ="instructor"  />

  <label for ="cost">Cost: £</label>
  <input id = "cost" type="number" name ="cost"  />

  <label for="time">Time:</label>
  <input id ="time" type ="time" name="classtime" />

  <input class="new" type="submit" value"Submit New Class" />
</form>
